# Bog'liqliklar
server/node_modules/

# Maxfiy sozlamalar
server/.env

# Ma'lumotlar bazasi
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# Loglar
*.log
npm-debug.log*

# Tizim fayllari
.DS_Store
Thumbs.db

# Muharrir sozlamalari
.vscode/
.idea/
